body {
    background:linear-gradient(to bottom,#dd0000,#110000,#dd0000);
}
hr {
    height:1px;
    border:none;
    border-top:3px dashed #df0000;
}
.dt {
    background:#000000;
    box-sizing:boder-box;
    left:0;
    right:0;
    top:0;
    position:absolute;
    padding:0px;
    color:#ff0000;
    height:80px;
}
/*class dt是网页顶部导航栏，dttb1 2是3条横线*/
.dttb1 {
    left:0;
    right:0;
    bottom:0;
    height:4px;
    background:#ff0000;
}
.dttb2 {
    left:0;
    right:0;
    bottom:0;
    height:4px;
    background:#000000;
}
/*dbom是写内容的div框的父元素。dbo1是写内容的div。*/
.dbom {
    position:absolute;top:100;left:0;right:0;
    width:100%
    /*margin:100 0;background:#fff;width:100%;*/
}
.dbo1 {
    max-width:925px;width:90%;
    border:1px solid #ff0000;
    border-radius:10px;-moz-border-radius:10px;
    padding:10px;
    color:#ff0000;
    background:#000000;
    margin:0 auto;
    /*flex-wrap:wrap;
    display:flex;*/
}
/*tomain是回到主页按钮*/
div.tomain {
    float:left;
    height:65px;
    width:65px;
    text-align:center;
    border:3px double #e53333;
}
a.tomain {
    color:#ff0000;
    font-size:55px;
    margin:0 auto;
    transition:color 0.5s,font-weight 0.5s;
}
a.tomain:hover {
    color:#ff5555;
    /*font-weight:bold;*/
}
.tdtx {
    font-size:60px;
    /*font-weight:bold;*/
    font-family:maoti;
}/* tdtx是“红狼网”样式 */
div.dldad{
/* div.download的父元素 */
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
div.download {
    
    background:#000000;border:1px solid #ff0000;
    width:350px;
    text-align:left;
    padding:10px;
    box-sizing:border-box;
    margin:4px;
}
.dona{
    font-weight:bold;
    font-size:18px;
    line-height:7px;
}/*下载的项目名字*/
.domi{
    line-height:7px;
    color:;
}/*下载的项目描述等*/
img.download{
    width:98%;
    height:270px;
    margin:0 auto;
}
button.download {
    background:#e53333;
    float:right;
}
.star{transition:font-size 1s;}
.star:hover{font-size:32px;}
/*tool为悬浮的工具栏*/
.tool{
    /*display:none;*/
    position:fixed;
    top:15;right:15;
    background:;opacity:90%;
    /*width:55px;height:50px;*/
    transition:1s;
}
.showtool{
    opacity:90%;
}
.showtool .sp1{
    transition:1s;
}
.tool1{
    border:2px solid #ff0000;
    background:#FFFFFF;
    text-align:center;
    width:50px;height:50px;
    box-sizing:border-box;
    line-height:50px;
}
.tool2{
    display:none;
    transition:1s;
    opacity:10%;
}
.ticon{/*工具栏图标*/
    font-size:45px;
    font-weight:bold;
}
.tool:hover .tool1{
    display:block;
    opacity:90%;
}
.tool:hover .sp1{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
}
#set{
    display:none;
    max-width:500px;width:90%;
    height:300px;
    position:fixed;top:0;left:0;right:0;bottom:0;
    margin:auto auto;
    background:#ffffff;
    padding:5px;
    border-radius:10px;-moz-border-radius:10px;
    overflow: scroll;
}
#set .hs{
    float:right;
}
div.sesw{
    border-bottom:1px solid #ccc;
    height:40px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  float:right;
}
.switch input {
    display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
@font-face {
    font-family: maoti;
    src: url(./ziti/maoti.ttf)
}/*毛体*/