body {
    background:linear-gradient(to bottom,#dd0000,#110000,#dd0000);
}
.dt {
    background:#000000;
    box-sizing:boder-box;
    left:0;
    right:0;
    top:0;
    position:absolute;
    padding:0px;
    color:#ff0000;
}
.dttb1 {
    left:0;
    right:0;
    bottom:0;
    height:4px;
    background:#ff0000;
}
.dttb2 {
    left:0;
    right:0;
    bottom:0;
    height:4px;
    background:#000000;
}
.dbom {
    position:absolute;
    top:100px;
    left:15;
    right:15;
}
.dbo1 {
    width:925px;
    border:1px solid #ff0000;
    border-radius:10px;
    -moz-border-radius:10px;
    padding:10px;
    color:#ff0000;
    background:#000000;
    margin:0 auto;
}
@font-face {
            font-family: maoti;
            src: url(./ziti/maoti.ttf) 
}